<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{328,488}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{328,488}}</string>
                <key>sourceSize</key>
                <string>{328,488}</string>
            </dict>
            <key>jetpack1.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,332},{50,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,48}}</string>
                <key>sourceSize</key>
                <string>{50,48}</string>
            </dict>
            <key>jetpack2.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,332},{50,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,48}}</string>
                <key>sourceSize</key>
                <string>{50,48}</string>
            </dict>
            <key>jetpack3.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,332},{50,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,48}}</string>
                <key>sourceSize</key>
                <string>{50,48}</string>
            </dict>
            <key>boy4.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,332},{50,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,48}}</string>
                <key>sourceSize</key>
                <string>{50,48}</string>
            </dict>
            <key>boy5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{50,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,48}}</string>
                <key>sourceSize</key>
                <string>{50,48}</string>
            </dict>
            <key>land.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{358,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,120}}</string>
                <key>sourceSize</key>
                <string>{358,120}</string>
            </dict>
            <key>pipe1.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{60,328}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,328}}</string>
                <key>sourceSize</key>
                <string>{60,328}</string>
            </dict>
            <key>pipe2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,328}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,328}}</string>
                <key>sourceSize</key>
                <string>{60,328}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>flappy.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2e3568a6c17039bff07c8bd66b275d18:6bd40200a4563d87d999c1c8f888fabf:98da1ea320b24740dddab6c1e48b9381$</string>
            <key>textureFileName</key>
            <string>flappy.png</string>
        </dict>
    </dict>
</plist>
